@charset "UTF-8";

@font-face {
    font-family: inter-variable;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter-variable;
}

body,html {
    width: 100vw;
    height: 90vh;
}

body {
    position: relative;
    background-color: #141414;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 700px;
    width: 500px;
    border: 1px solid black;
    background-color: #1F1F1F;
}

div#profileimage {
    text-align: center;
    margin: 5% 0;
}

div#profileimage > img {
    border-radius: 50%;
}

div#dt1 {
    text-align: center;
}

h3#t1 {
    color: white;
    font-size: 2em;
    margin-bottom: 7px;
}

p#t2 {
    color: #B6CF6D;
    font-size: 1.2em;
    margin-bottom: 20px;
}

p#t3 {
    color: #C1C1C1;
    text-align: center;
    margin-bottom: 20px;
}

div#lista {
    text-align: center;
    display: block;
}

div#lista ul{
    list-style: none;
}

div#lista li {
    display: inline;
}
div#lista li:hover {
    background-color: #B6CF6D;
}

div#lista a{
    display: block;
    background-color: #333333;
    width: 300px;
    height: 40px;
    margin: auto;
    margin-bottom: 22px;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

div#lista a:hover {
    background-color: #C4F82A;
    color: #29370E;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    main {
        width: 400px;
    }
}